{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main big masthead }}
<div class="jumbotron hidden-xs masthead" {{#if @blog.cover}}style="background: url({{@blog.cover}}) no-repeat center center"{{/if}}>
  <div class="container">
    <h1>{{tag.name}}</h1>
    <h2>
      {{#if tag.description}}
      {{tag.description}}
      {{else}}
      {{pagination.total}} articles total
      {{/if}}
    </h2>
  </div>
</div>


{{! The main content area on the homepage }}
<div class="container">
  <div class="row">

    <div class="col-md-8 content">

      {{! The tag below includes the post loop - partials/loop.hbs }}
      {{> "loop"}}

    </div>

    <div class="col-md-3 col-md-offset-1 hidden-xs hidden-sm sidebar">

      {{! The tag below includes the sidebar - partials/sidebar.hbs }}
      {{> "sidebar"}}

    </div>

  </div>
</div>
